extends layout

block content
  h1 #{name}
  p(class="bg-danger")  Welcome to #{name}
  p good morning 
  div(class="tobi") good afternoon 
  div today is a good day 
  a(href="/password") go to password page 